In [1]:
import pandas as pd
import numpy as nm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
data_set=pd.read_csv("p2.csv")
data_set

,REGION NAME,DISTRICT NAME,ULB NAME,ZONE NAME,USAGE AS PER NOMENCLATURE,CLASSIFICATION AS PER NOMENCLATURE,Unit Rate in Rs
0,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,COUNTRY TILED,14.0
1,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,HUTS,9.0
2,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,MANGALORE TILED / ASBESTOS ROOFED / GI SHEET R...,25.0
3,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,MEDRAS TERRACE / JACK ARCH ROOFED / STONE SLAB...,30.0
4,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,RCC ORDINARY CELLAR,36.8
...,...,...,...,...,...,...,...
33413,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,MEDRAS TERRACE,19.0
33414,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,RCC ORDINARY,33.0
33415,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,RCC POSH,39.0
33416,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,SLATES ROOFED,19.0
33417,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,STONE SLAB,19.0

In [3]:
y= data_set.iloc[:,6].values 
data_set.drop(["Unit Rate in Rs"],axis=1,inplace=True) 

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data_set["REGION NAME"]=le.fit_transform(data_set["REGION NAME"])
data_set["DISTRICT NAME"]=le.fit_transform(data_set["DISTRICT NAME"])
data_set["ULB NAME"]=le.fit_transform(data_set["ULB NAME"])
data_set["ZONE NAME"]=le.fit_transform(data_set["ZONE NAME"])
data_set["USAGE AS PER NOMENCLATURE"]=le.fit_transform(data_set["USAGE AS PER NOMENCLATURE"])
data_set["CLASSIFICATION AS PER NOMENCLATURE"]=le.fit_transform(data_set["CLASSIFICATION AS PER NOMENCLATURE"])
x= data_set.iloc[:,:].values
x

array([[ 0,  0,  2, 14,  5,  1],
       [ 0,  0,  2, 14,  5,  5],
       [ 0,  0,  2, 14,  5, 13],
       ...,
       [ 0,  2, 18, 51, 64, 29],
       [ 0,  2, 18, 51, 64, 35],
       [ 0,  2, 18, 51, 64, 36]])

In [4]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.4, random_state=0) 
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
tree=DecisionTreeRegressor(max_depth=15)
tree.fit(x_train,y_train) 
y_pred = tree.predict(x_test)
print("ACCURACY OF THE MODEL: ", tree.score(x_test, y_test))

ACCURACY OF THE MODEL:  0.8542764119758041

In [5]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, ExtraTreesRegressor, GradientBoostingRegressor

forest = RandomForestRegressor(n_estimators=10)
forest.fit(x_train,y_train)
forest.score(x_test,y_test)

0.9294238956565479

In [6]:
y_pred=forest.predict(x_test)
nm.savetxt('land rates prediction.csv',y_pred, delimiter=',')